In [1]:
#Cleaning functions

In [2]:
import pandas as pd

def import_data(url):
    shark_df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")
    shark_df.dropna(axis=1, how='all', inplace=True)
    shark_df.dropna(axis=0, how='all', inplace=True)
    return shark_df

In [3]:
#Owen - edits to date cleaning
def clean_dates2(df):
    new_df = df.copy()
    #6973 rows
    #Removes "reported" from dates and trailing spaces
    new_df['Date'] = new_df['Date'].str.replace('reported', '', case=False)
    new_df["Date"] = new_df["Date"].apply(lambda x: x.strip() if isinstance(x, str) else x)
    new_df['Date'] = new_df['Date'].str.replace(' ', '-', regex=False)
    new_df['Date'] = new_df['Date'].str.replace(r'-+', '-', regex=True)

    #converts to date format
    new_df['Date'] = pd.to_datetime(new_df['Date'], errors='coerce')

    #drop rows invalid dates
    new_df.dropna(subset=['Date'], inplace=True)
    #5376 rows

    #drop years before 1900
    new_df = new_df[new_df["Year"] >= 1900 ]
    new_df = new_df[new_df['Date'] >= pd.Timestamp('1900-01-01')].reset_index(drop=True)
    #5114 rows

    return new_df
#
#test = clean_dates2(shark_df)
#test["Year2"] = test["Date"].dt.year
#test[test['Year'] != test['Year2']]

In [4]:
#Eliska
def clean_states(df: pd.DataFrame):

    version_2 = shark_df.copy() #independent copy so we wont mess the potential DF
    version_2 = version_2.dropna(subset=["State"]) #get rid of empty values
    version_2.loc[:, "State"] = version_2["State"].str.lower() #convert to lowercase

    #get rid of countries that occur 5 or less times
    state_counts = version_2["State"].value_counts()
    threshold = 5
    states_to_keep = state_counts[state_counts >= threshold].index
    version_2 = version_2[version_2["State"].isin(states_to_keep)]

    #corrections
    state_corrections = {"westerm australia": "western australia", "western australia" : "western australia",
                        "mirs bay ": "mirs bay", "mirs bay" : "mirs bay",
                        "baja california" : "california",
                        " primorje-gorski kotar county": "primorje-gorski kotar county",
                        }
    version_2["State"] = version_2["State"].replace(state_corrections) # apply corrections
    version_2["State"] = version_2["State"].str.title() #get back the capital letter of each word in states

    return version_2

#version_2 = clean_states(version_1)
#version_2["State"].nunique()

In [5]:
#Owen
def clean_cols(df: pd.DataFrame):
    """Removes empty columns and named "Fatal" correctly """
    new_df = df.rename(columns={'Unnamed: 11': 'Fatal'})
    new_df = new_df.drop(['href formula', 'href','Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', "pdf"], axis=1)
    new_df = new_df.drop_duplicates()
    return new_df

In [6]:
#Constanza

def clean_type(df: pd.DataFrame):
    """ Cleans "type" column """
    new_df = df.copy()
    new_df['Type'] = new_df['Type'].replace({' Provoked': 'Provoked'})

    values_to_replace = ['Questionable', 'Watercraft', 'Sea Disaster', '?', 'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation', 'Boat']
    new_df['Type'] = new_df['Type'].replace(values_to_replace, 'Unknown')

    return new_df

In [7]:
#Owen
def clean_country(df):
    """Tidies the "Country" column of the DataFrama """
    new_df = df.copy()
    new_df = new_df.dropna(subset=["Country"])

    # Converts country column to consistent capitalisation and strips spaces
    new_df["Country"] = new_df["Country"].apply(lambda x: x.strip().title())
    new_df["Country"] = new_df["Country"].apply(lambda x: "USA" if x == "Usa" else x)

    #Removes rows that contain Oceans and Seas for the country
    new_df = new_df[~new_df["Country"].str.contains("Ocean", na=False)]
    new_df = new_df[~new_df["Country"].str.contains("Central Pacific", na=False)]
    new_df = new_df[~new_df["Country"].str.contains(" Sea", na=False)]
    new_df = new_df[~new_df["Country"].str.contains("Persian Gulf", na=False)]

    #Corrects country names
    new_df["Country"] = new_df["Country"].replace("Ceylon (Sri Lanka)", "Sri Lanka")
    new_df["Country"] = new_df["Country"].replace("Ceylon", "Sri Lanka")
    new_df["Country"] = new_df["Country"].replace("Maldive Islands", "Maldives")
    new_df["Country"] = new_df["Country"].replace("St. Maartin", "St Martin")
    new_df["Country"] = new_df["Country"].replace("St. Martin", "St Martin")
    new_df["Country"] = new_df["Country"].replace("Reunion Island", "Reunion")
    new_df["Country"] = new_df["Country"].replace("Trinidad", "Trinidad & Tobago")
    new_df["Country"] = new_df["Country"].replace("Tobago", "Trinidad & Tobago")
    new_df["Country"] = new_df["Country"].replace("Turks And Caicos", "Turks & Caicos")
    new_df["Country"] = new_df["Country"].replace("Sudan?", "Sudan")
    new_df["Country"] = new_df["Country"].replace("United Arab Emirates (Uae)?", "United Arab Emirates")
    new_df["Country"] = new_df["Country"].replace("United Arab Emirates (Uae)", "United Arab Emirates")
    new_df["Country"] = new_df["Country"].replace("Western Samoa", "Samoa")
    new_df["Country"] = new_df["Country"].replace("Scotland", "United Kingdom")
    new_df["Country"] = new_df["Country"].replace("Crete", "Greece")
    new_df["Country"] = new_df["Country"].replace("Okinawa", "Japan")
    new_df["Country"] = new_df["Country"].replace("Columbia", "Colombia")
    new_df["Country"] = new_df["Country"].replace("England", "United Kingdom")
    new_df["Country"] = new_df["Country"].replace("New Britain", "Papua New Guinea")
    new_df["Country"] = new_df["Country"].replace("New Guinea", "Papua New Guinea")
    new_df["Country"] = new_df["Country"].replace('St Helena, British Overseas Territory', "St Helena")
    new_df["Country"] = new_df["Country"].replace('Burma', "Myanmar")

    #Counts occurences of each country
    country_counts = new_df["Country"].value_counts() #Contains 6923


    # Filter countries that appear more than two times
    countries_to_keep = country_counts[country_counts > 1].index
    new_df = new_df[new_df["Country"].isin(countries_to_keep)]

    return new_df

In [8]:
#Owen

def hemisphere(df: pd.DataFrame):
    """Adds in a "Hemisphere" column using a dictionary to determine which hemisphere the country is in """

    new_df = df.copy()

    hemi_dict = {
        'American Samoa': "South",
        'Antigua': 'North',
        'Argentina': "South",
        'Australia': "South",
        'Azores': "North",
        'Bahamas': "North",
        'Barbados': "North",
        'Belize': "North",
        'Bermuda': "North",
        'Brazil': "Equator",
        'Myanmar': "North",
        'Canada': "North",
        'Cape Verde': "North",
        'Cayman Islands': "North",
        'Chile': "South",
        'China': "North",
        'Colombia': "Equator",
        'Costa Rica': "North",
        'Croatia': "North",
        'Cuba': "North",
        'Dominican Republic': "North",
        'Ecuador': "Equator",
        'Egypt': "North",
        'El Salvador': "North",
        'Fiji': "South",
        'France': "North",
        'French Polynesia': "South",
        'Greece': "North",
        'Grenada': "North",
        'Guam': "North",
        'Guinea': "North",
        'Guyana': "North",
        'Haiti': "North",
        'Honduras': "North",
        'Hong Kong': "North",
        'Iceland': "North",
        'India': "North",
        'Indonesia': "Equator",
        'Iran': "North",
        'Iraq': "North",
        'Ireland': "North",
        'Israel': "North",
        'Italy': "North",
        'Jamaica': "North",
        'Japan': "North",
        'Johnston Island': "North",
        'Kenya': "Equator",
        'Kiribati': "Equator",
        'Lebanon': "North",
        'Liberia': "North",
        'Libya': "North",
        'Madagascar': "South",
        'Malaysia': "North",
        'Maldives': "Equator",
        'Malta': "North",
        'Marshall Islands': "North",
        'Martinique': "North",
        'Mauritius': "South",
        'Mexico': "North",
        'Micronesia': "North",
        'Montenegro': "North",
        'Mozambique': "South",
        'Namibia': "South",
        'New Caledonia': "South",
        'New Zealand': "South",
        'Nicaragua': "North",
        'Nigeria': "North",
        'Norway': "North",
        'Palau': "North",
        'Panama': "North",
        'Papua New Guinea': "South",
        'Peru': "South",
        'Philippines': "North",
        'Portugal': "North",
        'Reunion': "South",
        'Russia': "North",
        'Samoa': "South",
        'Saudi Arabia': "North",
        'Senegal': "North",
        'Seychelles': "South",
        'Sierra Leone': "North",
        'Singapore': "North",
        'Solomon Islands': "South",
        'Somalia': "Equator",
        'South Africa': "South",
        'South Korea': "North",
        'Spain': "North",
        'Sri Lanka': "South",
        'St Helena, British Overseas Territory': "South",
        'St Martin': "North",
        'St Helena': "South",
        'Sudan': "North",
        'Taiwan': "North",
        'Tanzania': "Equator",
        'Thailand': "North",
        'Tonga': "South",
        'Trinidad & Tobago': "North",
        'Tunisia': "North",
        'Turkey': "North",
        'Turks & Caicos': "North",
        'USA': "North",
        'United Arab Emirates': "North",
        'United Kingdom': "North",
        'Uruguay': "South",
        'Vanuatu': "South",
        'Venezuela': "North",
        'Vietnam': "North",
        'West Indies': "North",
        'Yemen': "North"
    }

    #is assigning a "Hemisphere" column to new_df by mapping each entry in the "Country" column to a hemisphere based on a dictionary, hemi_dict.
    new_df["Hemisphere"] = new_df["Country"].apply(lambda country: hemi_dict.get(country, "Na"))

    #Code here
    return new_df

In [9]:
#filip
def clean_sex(df):
    df2 = df.copy()
    df2["Sex"] = df2["Sex"].replace({ ' M': 'M', 'M ': 'M', 'M x 2': 'M',})
    df2["Sex"] = df2["Sex"].replace(['.', 'lli', 'N'], np.nan)
    return df2

In [10]:
#filip

def clean_age(shark_df):
    shark_df["Age"] = shark_df["Age"].replace({
        '30s': '30',
        '20/30': '25',
        '20s': '20',
        '50s': '50',
        '40s': '40',
        '60s': '60',
        "20's": '20',
        '18 months': '2',
        '18 or 20': '19',
        '12 or 13': '13',
        '8 or 10': '9',
        '30 or 36': '33',
        '6½': '6',
        '21 & ?': '21',
        '33 or 37': '35',
        'mid-30s': '35',
        '23 & 20': '21',
        '28': '28',
        '20?': '20',
        "60's": '62',
        '32 & 30': '31',
        '16 to 18': '17',
        'mid-20s': '25',
        'Ca. 33': '33',
        '45 ': '45',
        '21 or 26': '24',
        '20 ': '20',
        '>50': '55',
        '18 to 22': '20',
        '9 & 12': '10',
        '? & 19': '19',
        '9 months': '1',
        '25 to 35': '30',
        '23 & 26': '24',
        '33 & 37': '35',
        '25 or 28': '26',
        '30 & 32': '31',
        '50 & 30': '40',
        '13 or 18': '16',
        '34 & 19': '31',
        '33 & 26': '30',
        '2 to 3 months': '1',
        '43': '43',
        '7 or 8': '8',
        '17 & 16': '17',
        'Both 11': '11',
        '9 or 10': '10',
        '36 & 23': '30',
        '10 or 12': '11',
        '31 or 33': '32',
        '2½': '2',
        '13 or 14': '14'
    })

    shark_df["Age"] = shark_df["Age"].str.strip()
    shark_df["Age"] = shark_df["Age"].replace([
        'Middle age', np.nan, '?',
        '!2', 'teen', 'Teen', '!6', '!!', '45 and 15', '28 & 22',
        '9 & 60', 'a minor', '28 & 26', '46 & 34', '28, 23 & 30', 'Teens',
        '36 & 26', '\xa0', ' ', '7      &    31',
        'Elderly', 'adult', '(adult)',
        '37, 67, 35, 27, ? & 27', '21, 34,24 & 35', '17 & 35',
        'X', '"middle-age"', 'MAKE LINE GREEN', '"young"', 'F',
        'young', '  ', 'A.M.',
           '?    &   14', 'M', '',
    ], np.nan)
    return(shark_df)

In [11]:
import pandas as pd
import numpy as np

shark_df = import_data("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

def cleaning(df):
    df2 = df.copy()
    df2 = clean_dates2(df2)
    df2 = clean_country(df2)
    df2 = hemisphere(df2)
    df2 = clean_type(df2)
    df2 = clean_states(df2)
    df2 = clean_age(df2)
    df2 = clean_sex(df2)
    df2 = clean_cols(df2)
    return df2

df = cleaning(shark_df)

shark_df = cleaning(shark_df)

In [23]:
shark_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Source
1,2024-10-11 00:00:00,2024.0,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,NaN,Bite to left arm,N,?,Bull shark 6ft,Todd SmithFlorida today: News 4:
7,2024-07-18 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Trigg beach Sterling,Surfing,Ryan Lowther,M,NaN,Minor injury to lower left leg,N,1735hr,Undetermined small shall shark,Daily Mail: Sky News: The West Australian
8,2024-07-08 00:00:00,2024.0,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Diving into Water,Dempsey Manhart,M,NaN,Lower left leg injury,N,11hr15,4-5ft Blacktip shark,Miami Herald
9,2024-07-05 00:00:00,2024.0,Unprovoked,USA,Florida,New Smyrna Beach,Wading,Not stated,M,NaN,Minor injury to left foot,N,16hr15,Not specified,Sacbee Fox 35
10,2024-07-04 00:00:00,2024.0,Unprovoked,USA,Texas,South Padre Island,Swimming,Tabatha Sullivant,F,NaN,Bite to left leg calf muscle removed,N,?,Bull shark 6 ft,NBCDFW